.escudo {
    width: 45px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 10px; /* Espacio entre el logo y otros elementos */
    border-radius: 5px; /* Añade bordes redondeados si lo deseas */
    
  }
  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #f8f9fa;
    padding-top: 60px;
    z-index: 1000;
  }

  /* Ocultar la barra lateral en pantallas pequeñas */
  @media (max-width: 992px) {
    .sidebar {
      transform: translateX(-250px);
      transition: transform 0.3s ease;
    }

    .sidebar.show {
      transform: translateX(0);
    }

    /* Ajustar el contenido principal cuando la barra lateral está oculta */
    #main-content {
      margin-left: 0;
      margin-top: 70px; /* Ajuste para evitar solapamiento con el navbar en pantallas pequeñas */
    }
  }

  /* Espacio para el contenido principal en pantallas grandes */
  #main-content {
    margin-left: 250px;
  }

  /* Ocultar el botón de barra lateral en pantallas grandes */
  .toggle-sidebar-btn {
    display: block;
  }

  @media (min-width: 992px) {
    .toggle-sidebar-btn {
      display: none;
    }
  }

/* From Uiverse.io by reshades */ 
.button {
  background-color: #ffffff00;
  
  width: 20em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
}

.button:hover {

  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
}